html, body * {
  background-color: #FFF;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
  --grid-width: 8;
  --grid-height: 8;
  --grid-perc: 80 / var(--grid-width);
  --dark1-bg: #282828;
  --dark2-bg: #e6d6a6;
  --light1-bg: #FFC600;
  --highlight: #8EC07C;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  color: white;
  background-color: var(--dark1-bg);
  font: 2rem "Merienda", monospace;
  padding: 1rem;
  text-align: center;
  align-content: center;
}

footer {
  color: white;
  background-color: var(--dark1-bg);
  padding: 0.75rem 0;
  text-align: center;
}

footer a {
  text-decoration: none;
  background-color: #282828;
  color: white;
}

.default-bg {
  background-color: var(--light1-bg);
}

#resize-form {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

#resize-form input[type="text"] {
  width: 100px;
  height: 2rem;
  font: 1.25rem normal monospace;
  text-align: center;
}

#grid-container {
  background-color: var(--light1-bg);
  display: inline-grid;
  grid-template-columns: repeat(var(--grid-width), 1fr);
  grid-template-rows: repeat(var(--grid-height), 1fr);
  margin: 2rem auto;
  border: 1px solid white;
}

#ui-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

#ui-container input[type="color"] {
  height: 2rem;
}

.btn {
  border: 2px outset black;
  border-radius: 5px;
  padding: 5px 15px;
  font: 1.25em normal monospace;
}

.btn:active {
  border-style: inset;
}

.square {
  box-sizing: border-box;
  background-color: black;
  width: calc(var(--grid-perc) * 1vh);
  height: calc(var(--grid-perc) * 1vh);
}

.drawn-over {
  background-color: var(--highlight);
}
